- other_user = conversation.other_users(current_user).first
- classes = "list-group-item list-group-item-action conversation_cell"
- classes += " active" if conversation.id == @conversation.id
= link_to conversation_path(conversation), class: classes, id: "conversation_#{conversation.id}" do
  .media
    .presence_container.mr-3
      = image_tag(model_avatar(other_user.avatar, 200, true), width: 48, class: 'd-flex rounded-circle')
      .presence{data: {behavior: "presence", "user-id": other_user.id}}
        &nbsp;
    .media-body
      = other_user.short_display_name
      %small.conversation_time.text-muted
        = local_time(conversation.updated_at, "%l:%M%P")
        - unread_count = conversation.unread_messages_count(current_user)
        - if unread_count > 0
          %span.badge.badge-primary.text-right
            = unread_count
          
      %p.mb-0
        %small.conversation_preview
          - last_message = conversation.last_message
          - if last_message
            - if last_message.user == current_user
              You:
            = truncate(conversation.last_message.text, length: 25)

        
        
