- title @other_users.map(&:display_name).join(", ")

.container-fluid.conversations_container.px-0
  .row.m-0
    .col-sm-4.col-md-3.px-0
      #conversations_container
        #conversations_header
          .text-center
            Messages
        #conversation_list
          .list-group#conversations
            = render @conversations
    .col-sm-8.col-md-9.px-0
      #messages_container
        #messages_header
          - other_user = @other_users.first
          .media
            = link_to image_tag(model_avatar(other_user.avatar, 200, true), width: 48, class: 'd-flex mr-3 rounded-circle'), other_user, target: "_blank"
            .media-body
              %strong
                = link_to other_user.display_name, other_user, target: "_blank"
              %p
                %small
                  = other_user.primary_role_name
                  - if other_user.company
                    ·
                    = other_user.company.name
                  - if other_user.location.present?
                    · 
                    = other_user.location.name

        #messages{ data: {behavior: "messages", "conversation-id": @conversation.id}}
          - if @messages.any?
            - last_message = nil
            - unread = false
            - @messages.each do |message|
              - if last_message.nil?
                .day_cell
                  = local_time_ago(message.created_at)
              - elsif message.created_at.to_date != last_message.created_at.to_date
                .day_cell
                  = local_time_ago(last_message.created_at)
              - if !unread && !message.is_read_by?(current_user)
                - unread = true
                .unread_cell
                  Unread
              = render message
              - last_message = message

          #typing_indicator
            .message
              .message_bubble
                •••
        #messages_input
          = form_for @message do |f|
            = f.hidden_field :conversation_id, value: @conversation.id
            = f.text_area :text, class: 'form-control', placeholder: "Type your message", autocomplete: "off", autofocus: true, rows: 1



/ .container-fluid.mb-5
/   .row#conversation_list
/     = render "conversation_list", conversations: @conversations, conversation_id: @conversation.id
/     .col-sm-8.message_section
/       .row
/         .new_message_head
/           .pull-left
/             - @conversation.other_users(current_user).each do |user|
/               = link_to user.display_name, user
/         .chat_area
/           #messages{"data-conversation-id" => @conversation.id}
/             =# render @messages
/             - @messages.each do |message|
/               - if current_user.id == message.user_id
/                 = render 'messages/current_user_message', message: message
/               - else
/                 = render 'messages/message', message: message

/         .message_write
/           = form_for @message, url: '#' do |f|
/             = f.hidden_field :conversation_id, value: @conversation.id
/             .row
/               .col-xs-9.col-sm-10
/                 .form-group
/                   = f.text_field :text, class: 'form-control', placeholder: "Message", autocomplete: "off", autofocus: true
/               .col-xs-3.col-sm-2
/                 = f.submit "Send", class: 'btn btn-primary btn-block'

/ :javascript
/   $('.member_list').height($(window).height() - 147);
/   $('.chat_area').height($(window).height() - 227);
/   $('body').css('overflow-y', 'hidden');

/   $(function(){
/     App.global_chat.current_user_id = #{current_user.id};
/   })