- title "#{@user.display_name} Following"
.container.content_container  
  %h1
    = link_to @user.display_name, @user
  %p
    %small
    = @scope.count
    Following

  - @following.each do |follower|
    = render(follower.followable)

  = paginate @following


  
