.container.mt-5.mb-5
  %h1 
    Skills
    %small
      = link_to 'New', new_skill_path, class: "btn btn-primary btn-sm" if policy(Skill).new?
  .dropdown
    %button#dropdownMenuButton.btn.btn-secondary.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      - if params[:sort_by]
        = params[:sort_by].titlecase
      - else
        Recent
    .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
      %a.dropdown-item{href: skills_path } Recent
      %a.dropdown-item{href: skills_path(sort_by: "popular")} Popular
      %a.dropdown-item{href: skills_path(sort_by: "alphabetical")} Alphabetical

  %p
    %small
      = pluralize(Skill.all.count, "skill")
  
  - @skills.each do |skill|
    %h5
      = link_to skill.name, skill


  = paginate @skills



  
