= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', autocomplete: :off
      .form-group
        = f.label :slug
        = f.text_field :slug, class: 'form-control'
      .form-group
        = f.label "Website"
        = f.text_field :website_url, class: 'form-control'
      .form-group
        = f.label "Facebook"
        = f.text_field :facebook_url, class: 'form-control'
      .form-group
        = f.label "Tags"
        = f.text_field :tags_list
      .form-group
        = f.label "Twitter"
        = f.text_field :twitter_url, class: 'form-control'
      .form-group
        = f.label "Instagram"
        = f.text_field :instagram_url, class: 'form-control'
      .form-group
        = f.label "AngelList"
        = f.text_field :angellist_url, class: 'form-control'
      .form-group
        = f.label :tagline
        = f.text_field :tagline, class: 'form-control'
    .col-6
      .form-group
        = f.label 'Avatar'
        %br
        = image_tag(company_avatar(@company.avatar, 200, true), width: 100, class: 'm-b-1')
        %br
        = f.file_field :avatar
        = f.hidden_field :retained_avatar
        = f.text_field :avatar_url, class: 'form-control', placeholder: "http://site.com/image.jpg"
      .form-group
        = f.label 'Logo'
        %br
        = image_tag(model_image(@company.logo, 200, 200, true), width: 100, class: 'm-b-1')
        %br
        = f.file_field :logo
        = f.hidden_field :retained_logo
  
  %hr
  = f.submit 'Save', class: 'btn btn-primary btn-lg'
