= cache [story] do
  .card{:style => "width: 40rem;"}
    / %img.card-img-top{:alt => "Card image cap", :src => "..."}/
    .card-header
      .media
        = link_to image_tag(model_avatar(story.user.avatar, 200, true), width: 40, class: 'd-flex mr-3 rounded-circle'), story.user
        .media-body
          %h5.mt-0.mb-0
            = link_to story.user.display_name, story.user
            - if story.user.is_hiring
              %span.small
                %i.fa.fa-bullseye.text-primary

            - if story.user.is_available
              %small
                %i.fa.fa-briefcase.text-success
          %small
            = story.user.primary_role_name
            - if story.user.company
              ·
              = story.user.company.name

          - if story.unpublished?
            %span.badge.badge-pill.badge-warning
              Draft
    .card-block
      %h4.card-title
        = link_to story.name, story
      %p.card-text
        = markdown(truncate(story.content, length: 120))
      %small
        = link_to "Read more...", story, class: "text-muted"
    
  
