.container.mt-5.mb-5
  %h1
    = title @role.name
    %small
      - if @role.parent
        = link_to @role.parent.name, @role.parent
      = link_to 'Edit', edit_role_path(@role), class: "btn btn-primary btn-sm" if policy(@role).edit?
      = link_to "Admin", rails_admin.edit_path(model_name: 'role', id: @role.id), class: "btn btn-danger btn-sm" if current_user && current_user.is_admin


  %p
    %small
      = pluralize(@role.users_count, "member")
      
  = render partial: "users/user", collection: @users 

  = paginate @users

  - if @role.children.any?
    - @role.children.each do |child|
      = link_to child.name, child
      ·
  
