- user = activity.owner
- story = activity.trackable

= render partial: "/public_activity/header", locals: {activity: activity, text: "published a story"}

%h4.card-title
  = link_to story.name, story

- if story.cover_uid.present?
  = link_to story do
    = image_tag model_image(story.cover, 1920, 1080, true), class: "card-img", width: "100%"

%p.card-text
  = markdown(truncate(story.content, length: 200))
  %small
    = link_to "Read more...", story, class: "text-muted"

%p.card-text
  = render partial: "/likes/like_button", locals: { likeable: story }
