- user = activity.owner
- comment = activity.trackable
- commentable = comment.commentable
.media.mb-2
  = render partial: "/public_activity/user_avatar", locals: {user: user}
  .media-body
    = link_to user.display_name, user
    commented on
    = link_to "#{commentable.user.display_name}'s", commentable.user
    - if comment.commentable_type == "Milestone"
      milestone
      = link_to(truncate(commentable.name,length:40), commentable)
    - elsif comment.commentable_type == "ReviewRequest"
      = link_to "profile review", commentable
    - elsif comment.commentable_type == "Job"
      job
      = link_to(truncate(commentable.name,length:40), commentable)
    - else comment.commentable_type == "Project"
      project
      = link_to(truncate(commentable.name,length:40), commentable)
    
    = render partial: "/public_activity/time_ago", locals: {activity: activity}
    
    
