!!!
%html
  = render 'layouts/head'
  %body{ class: "#{controller_name}_#{action_name}"}
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield

    = javascript_include_tag 'application'
